<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        .first {
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <main>
        <h1>{{ title }}</h1>
        <div>
            <ul>
            {% for key in api %}
                <li {% if loop.first %} class="first" {% endif %}>
                    url: /api/{{ key }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>