{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "db": true
  },
  "rules": {
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "never"
    ],
    "no-console": 1
  }
}
